
@font-face {
    font-family: Sono;
    src: url(../font/Sono-VariableFont_MONO,wght.ttf);
}


body{
    background-image: URL("../img/background.png");
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
    margin-left: 10%;
    margin-right:10%;
    color: white;
    background-color: rgb(49, 73, 97);
    font-size: 16px;
    font-style: italic;
    font-family: Sono; 
}
.content{
    padding-top: 50px;
    font-size: 18px;
    

    
}
ul{
    margin-left: -10%;
}

li{
    list-style-type: none;
}

.nav {
    background-color: rgb(255, 255, 255);
    position:fixed;
    margin-top: 0px;
    margin-left: -10%;
    margin-right: auto;
    width: 100%;
    align-items: center;
    text-align:center;
    float:none;
    
    }
.navSideBar{
    display: none;
    }

.sideButton{
    display:inline-block;
    background-color:rgb(208, 231, 247);
    border: none;
    border-radius: 15px;
    text-align: justify;

}
.navMobileSideBar{
    margin-top: 90px;
    margin-left: -15%;
    margin-right: -25%;
    padding-left: 10%;
    padding-right: 17% ;
    padding-top: 20px;
    display: inline-block;
    border-top: solid;
    width: 100%;
    border-color: white;

    
}
.photo{
    display: none;
}


     
.button_nav
	{
	
	border: none;
  	color: rgb(49, 73, 97);
	padding: 10px 40px;
    display: inline-block;
	text-align: center;
	text-decoration: none;
	font-size: 22px;
    font-family: Sono, sans-serif;
	margin-left: 0px;
    font-style: normal;   
	}


.footer{
 position: static;
 margin-top: 10%;
 bottom:0px;
 margin-right:0%;
 font-size: small;
}

a{
    font-size:22px;
    color: rgb(0, 255, 255);
    transition-duration: 0.6s;
    text-decoration: none;
}
a:hover{
    font-size:22px;
    color: rgb(0, 255, 255);
    
    text-decoration: none;
}

.text {
    font-size: 14px;
    width: 100%;
    margin-left: 5%;
    
 
 
    
}
.textCv{
width: 100%;  
font-size:14px;
}

    
   


#aboutMe{
    display:none;
    
}
#projectsContainer{
    display:none;
}
#skillsContainer{
    display: none;
}
#cvSkillsContent{
    display:none;
}
#cvExperienceContent{
    display:none;
}
#cvEducationContent{
    display:none;
}
#cvProjectsContent{
    display:none;
}
#mailFooter{
    font-size: small;
}
#github{
    display:none;
}#linkedin{
    display:none;
}#email{
    display:none;
}
.photoMeMobile{
    display: block;
}
#projectsMobile{
    display:block;
}



