@font-face {
    font-family: Sono;
    src: url(../font/Sono-VariableFont_MONO,wght.ttf);
}

html {
    overflow: auto;    

}

body {
    background-color: #FFFFFF;
    font-family: Sono;
}

.leftBox {
    display: block;
    position: absolute;
    height: 60vh;
    width: 60vh;
    right: 55%;
    top: 10%;
    transition: 1s ease-in-out;
}

.rightBox {
    display: inline-block;
    position: absolute;
    height: 60vh;
    width: 60vh;
    left: 55%;
    top: 10%;
    margin-right: 15%;
    transition: 1s ease-in-out;
}

.textCv {
    position: relative;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 5%;
    padding-bottom: 10%;
}

.cvContainer {
    margin-top: 10%;
    margin-bottom: 10%;
    position: absolute;
    top: 100%;
    transition: 1s;
    float:none;
}




.button_nav {
    display: inline-block;
    opacity: 0;
    transition: 1s;
    background-color: black;
    color: #FFFFFF;
    padding: 20px 20px;
    border: none;
    text-align: center;
    margin: 0%;

}

.navStart {
    background-color: black;
    width: 66px;
    height: 66px;
    margin: 0% 50%;
    padding-bottom: 0%;
    border-radius: 50%;
    top: -660vh;
    position: absolute;
    text-align: center;
    float: none;
}
.navSideBar{
    position: fixed;
    right:0;
    top:30vh;
    text-align: right;
    float: right;
    opacity: 0;
    transition: 1s;
    

}
.sideButton{
    background-color:black;
    border: none;
    margin-top: 20px;
    display: inline-block;
    
}
.cvButton{
    padding:0;
    border: none;
    background:transparent;
}
.cvButton:hover{
    color:blue;
}
li{
    list-style-type: none;
}
#emilFrame
{
    max-height: 100%;
    width: 60vh;
    position: relative;
    transition: 1s ;
    opacity: 0;
}

#meColor,
#hikePhoto,
#projectsPhoto {
    height: 0;
    width: 100%;
    position: absolute;
    transition: 1s;
    
}


#projectsContainer,
#skillsContainer,
#aboutMeContainer {
    transition: 1s;
    opacity: 0;
    margin-right: 10%;
    position: absolute;
    float: none;
}
#cvSkillsContent,
#cvExperienceContent,
#cvEducationContent,
#cvProjectsContent{
    transition: opacity 1s ease-out;
    opacity: 0;
    height: 0;
    overflow: hidden;
}
#emilBackground{
    transition: 1s ease-in-out;
}
#github,
#linkedin,
#email{
    
    display:inline-block;
    width: 0;
    height: 0;
    color:white;
    padding: 0px 15px;
    overflow: hidden;
    transition: 0.5s;
    
    text-align: right;
    
}