
@font-face {
    font-family: Sono;
    src: url(../font/Sono-VariableFont_MONO,wght.ttf);
}
/*scroll bar */
/* width */
::-webkit-scrollbar {
    width: 15px;
    background-color: rgb(194, 177, 241);
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    
    border-radius: 5px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(49, 73, 97);
    
  }
  ::-webkit-scrollbar-button{
    background-color: rgb(49, 73, 97);
    
  }
html{
    overflow-y: scroll;
}

body{
    background-image: URL("../img/background.png");
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
    margin-left: 10%;
    margin-right:15%;
    color: white;
    background-color: rgb(49, 73, 97);
    font-size: 16px;
    font-style: italic;
    font-family: Sono; 
    
   
}
.content{
    padding-top: 10%;
    font-size: 18px;
}
  
li{
    list-style-type: none;
}

.nav {
    
    position:fixed;
    margin-top: 20px;
    margin-left: -10%;
    margin-right: auto;
    width: 100%;
    align-items: center;
    text-align:center;
    float:none;
    }
.navSideBar{
    position: fixed;
    left: 0px;
    top: 30%;
    height: fit-content;
    }

.sideButton{
    display:block;
    background-color:rgb(208, 231, 247);
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    
    
}

.photo{
    margin-right: 10%;
}
#photoMe { 
    position:static;
    width: 400px;
    height: 557px;
    right:20%;
    top:100px;
    float:right;
    border-radius: 30px;
    
    padding: 20px;
}
     
.button_nav
	{
	background: transparent;
	border: none;
  	color: rgb(255, 255, 255);
	padding: 10px 40px;
    display: inline-block;
	text-align: center;
	text-decoration: none;
	font-size: 22px;
    font-family: Sono, sans-serif;
	transition-duration: 1s;
    margin-left: 0px;
    font-style: normal;

    
	}
.button_nav:hover{
    background-color:rgb(49, 73, 97);
    color:white;
}
.footer{
 position: static;
 margin-top: 10%;
 bottom:0px;
 margin-right:0%;
 font-size: small;
}

a{
    font-size:22px;
    color: rgb(0, 255, 255);
    transition-duration: 0.6s;
    text-decoration: none;
}
a:hover{
    color: rgb(207, 153, 91);
    font-weight: bold;
    transition-duration: 0.8s;
    cursor: pointer;
}
.text {
    font-size: 14px;
    width: 50%;
 
    
}
.textCv{
width: 90%;  
font-size:14px;
}

    
   


#aboutMe{
    display:none;
}
#projectsContainer{
    display:none;
}
#skillsContainer{
    display: none;
}
#cvSkillsContent{
    display:none;
}
#cvExperienceContent{
    display:none;
}
#cvEducationContent{
    display:none;
}
#cvProjectsContent{
    display:none;
}
#mailFooter{
    font-size: small;
}
#github{
    display:none;
}#linkedin{
    display:none;
}#email{
    display:none;
}


